//========================================================
//                     Variables
//=========================================================

//Backgrounds
$header-bg: #2dcb74;
$content-bg: #fff;
$footer-bg: #f9f9f9;

//Colors
$default: #4d4d4d;
$primary: #2dcb74;
$secondary: #505050;
$secondary2: #ff6738;

//Fonts
$default-font: 'Open Sans', sans-serif;
$opensans: 'Open Sans Condensed', sans-serif;
$sixcaps: 'Six Caps', sans-serif;
$qwigley: 'Qwigley', cursive;
